*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: #333366;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

#title{
    text-align: center;
    color: white;
    margin-top: 30px;
}

#description{
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.survey-form{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 30px;
}
#name-label {
    display: block;
}
#email-label{
    display: block;
}
#name{
    width: 95%;
    padding: 5px;
    border-radius: 5px;
}
#email{
    width: 95%;
    padding: 5px;
    border-radius: 5px;
}

.form-element{
    margin-top: 16px;
}

#number-label{
    display: block;
}
#number{
    width: 95%;
    padding: 5px;
    border-radius: 5px;

}

#dropdown{
    width: 95%;
    padding: 5px;
    border-radius: 5px;
}

.radio-label{
    display: block;

}

.checkbox-label{
    display: block;

}

textarea{
    width: 95%;
    padding: 5px;
    border-radius: 5px;
}

#submit {
    background-color: #333366;
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    color: white;
}














